/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #181717;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background: #5f5c5c;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    width: 500px;
    margin: -100px auto 0; 
}
h2 {
    color: #92cf86;
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    color: #f2b5b5;
    font-size: 30px;
    margin: 20px 0;
}

button {
    background-color: #bcdd70;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #70a7e2;
}